.posts {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "p1 p2 p3"
                         "p4 p2 p5";
    gap: 1rem;
    margin-bottom: 5rem;
}

.more-btn {
    color: var(--purple-heart);
    text-decoration: none;
    
}
