.posts {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 2rem;
    margin-bottom: 5rem;
    
}

.more-btn {
    color: var(--purple-heart);
    text-decoration: none;
    
}
