.about {
    padding: 0 2.5rem;

    h2 {
        color: var(--purple-heart);
        font-size: 2.5rem;
    }
    .columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        font-size: 1.1rem;
        p {
            line-height: 2rem;
        }
    }
   
}

.about-menu {
    text-align: center;
}

.about-content {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    gap: 2rem;
    margin: 3rem 0;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    h4 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }

    button {
        background: none;
        border: none;
        color: var(--purple-heart);
        font-size: 1.5rem;
        &:disabled {
            color: gray;
        }
    }
}
