footer {
    min-height: 300px;
    padding: 1.5rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    ul {
        padding: 0;
    }
    ul li {
        font-size: 1.1rem;
        list-style: none;
        line-height: 2rem;
        cursor: pointer;
        transition: all .1s;

        &:hover {
            color: var(--purple-heart);
        }
    }
}

.footer-logo {
    color: var(--purple-heart);
    span {
        font-size: 2rem;
        font-weight: 600;
    }
}

.footer-content {
    display: flex;
    flex-direction: column;
    
    .links {
        display: flex;
        gap: 2rem;
    }

    .socials {
        font-size: 2rem;
        span {
            margin-right: 1rem;
            transition: all .1s;
            cursor: pointer;
            &:hover {
                color: var(--purple-heart);
            }
        }
    }
}
