:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: black;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --purple-heart: #6849D3;
  --piction-blue: #3BAEEE;
  --violet-eggplant: #A822A6;
  --sunglow: #FFC839;

  --navbar-height: 64px;
}

body {
  margin: 0;
}
