@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap');

:root {
  font-family: "Bricolage Grotesque";
  

  background-color: black;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --purple-heart: #6849D3;
  --piction-blue: #3BAEEE;
  --violet-eggplant: #A822A6;
  --sunglow: #FFC839;

  --navbar-height: 64px;
}

body {
  margin: 0;
}

h1, h2, h3, h4, .logo, .footer-logo {
  font-family: "Anton";

}
